.switch {
  position: relative;

  margin: 0px;

  height: 26px;
  width: 70px;

  cursor: pointer;
  appearance: none;

  border-radius: 20px;
  background-color: hsl(223, 31%, 20%);

}

.switch::before {
  position: absolute;
  content: "";
  
  display: block;
  height: 15px;
  width: 15px;

  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 5px auto 5px;

  border-radius: 50px;
  background-color: hsl(6, 63%, 50%);

  transition: all .3s ease;
}

.switch:checked::before {
  left: 45px;
}

.switch.left:checked::before {
  left: 0;
}

.switch.center:checked::before {
  left: 0;
  right: 0;
  margin: auto;
}

.switch.right:checked::before {
  left: 45px;
}
